html,
body {
  overflow-x: hidden !important;
}

.ck-editor__editable.ck {
  min-height: 65vh !important;
}

.ck-editor {
  max-width: 100% !important;
}

.grecaptcha-badge {
  visibility: hidden !important;
}